main {
      display: flex;
}

main > section {
      height: 1005;
      width: 100vw;

      padding: 3rem;
      
      min-height: calc(100vh - 6rem);
      min-height: calc(100svh - 6rem);

      display: flex;
      align-items: center;

      overflow-x: auto;
}

main > section > div {
      width: 100%;
      height: fit-content;

      min-width: 30rem;

      border-radius: 10px;

      background-color: #fff;

      filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

main > section > div > table {
      width: 100%;
      height: fit-content;

      border-radius: 10px;
      border: 1px solid #333;
}

main > section > div > table > thead > tr > th {
      padding: 0.8rem 0.9rem;

      border-bottom: 1px solid #333;
}

main > section > div > table > tbody > tr > th {

      border-right: 1px solid #333;

      padding: 0.7rem 0.9rem;
}

main > section > div > table > tbody > tr:nth-child(-n+4) > th {

      border-bottom: 1px solid #333;
}

main > section > div > table > tbody > tr:nth-child(-n+4) > td {

      border-bottom: 1px solid #333;
}

main > section > div > table > tbody > tr > td {

      padding: 0.7rem 0.9rem;
}